
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;

}

body{
    
    font-family: 'Open Sans', sans-serif;

    font-size: 18px;
    /* margin-left: 85px; */
}

/* nav styling starts */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    background-color: white;
    padding: 20px 85px;
}

nav ul a{
    text-decoration: none;
    color: hsl(233, 8%, 62%);
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    list-style-type: none;
    color: hsl(233, 8%, 62%);
    
}

nav button{
    all: unset;
    background-image: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: white;
    border-radius:30px ;
    padding: 10px 35px;  
}

nav button a{
    color: white;
    text-decoration: none;
}

.navigation{
    display: none;
}

/* nav styling ends */
/* maindiv1 styling starts */

.maindiv1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-left: 200px;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(180deg, rgb(245, 245, 245), white);
    padding: 85px;
}

.maindiv1 div{
    width: 38%;
    font-size: 14px;
}

.maindiv1 h1{
    font-weight: 400;
    font-size: 58px;
    margin-bottom: 15px;
    color: hsl(233, 24%, 27%)
}

.maindiv1 .div1p{
    margin-bottom: 35px;
    color: hsl(233, 8%, 62%);
    font-weight: 400;
    font-size: 20px;
}

.maindiv1 img{
    width: 45%;
}

.maindiv1 button{
    all: unset;
    background-image: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: white;
    border-radius:30px ;
    padding: 10px 35px;  
}

.maindiv1 button a{
    color: white;
    text-decoration: none;
}

/* maindiv1 styling ends */

/* maindiv2 styling starts */
.maindiv2{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding: 85px;
    background-color:rgb(243, 243, 243);
}

.div2i{
    margin-bottom: 55px;
}

.div2i h1{
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 15px;
    color: hsl(233, 24%, 27%);
}

.div2i p{
    color: hsl(233, 8%, 62%);
    font-weight: 400;  
}

.div2ii{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 45Px;
}

.div2ii h1{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 15px;
    color: hsl(233, 24%, 27%);
}

.div2ii p{
    color: hsl(233, 8%, 62%);
    font-weight: 400;
}

.div2ii img{
    width: 20%;
    margin: 20px;
}

/* maindiv2 styling ends */
/* maindiv3 styling ends */

.maindiv3{
    background-color:rgb(230, 228, 228);
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding: 85px;
}

.maindiv3i h1{
    
    margin-bottom: 15px;
    font-weight: 400;
    font-size:40px;
    margin-bottom: 25px;
    color: hsl(233, 24%, 27%)
}

.maindiv3ii{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.innerdiv{
    background-color: white;
    
}

.innerdiv img{
    width: 100%;
  
}

.maindiv3ii h1{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 15px;
    color: hsl(233, 24%, 27%);
    width: 80%;
    padding: 0px 20px;
}

.maindiv3ii p{
    color: hsl(233, 8%, 62%);
    font-weight: 400;  
    font-size: 13px;
    width: 80%;
    padding: 0px 20px 20px;
}

.maindiv3ii .artists{
    font-size: 10px;
    margin-top: 13px;
    margin-bottom: 8px;
    padding-bottom: 2px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  hsl(233, 26%, 24%);
    padding: 25px 85px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer ul{
    list-style-type: none;
    line-height: 1.5rem;
    font-size: .75rem;
}

footer button{
    all: unset;
    background-image: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: white;
    border-radius:30px ;
    margin-left: 550px;
    padding: 10px 35px;  
}

.footer1i{
    margin-bottom: 25px;
    filter: invert(1);
}

.footer1ii img{
    width: 12%;
    justify-content: space-between;
    gap: 15px;
}

.footer1ii a{
    text-decoration: none;
    color: white;
    margin: 3px;
}


@media screen and (max-width: 992px) {

    nav{
        padding: 15px 35px;
    }

    .maindiv1{
        padding: 50px 35px;
        gap: 10px;
    }
    

     .maindiv1 h1{
       font-size:30px;
    }

    .maindiv1 .div1p{
        font-size:15px;
     }
 

    .maindiv3, .maindiv2{
        padding: 35px;
    }

    footer button{
        margin-left: 150px;
    }


    
}

@media screen and (max-width: 768px) {

    .div2ii{
        grid-template-columns: repeat(2,1fr);
    }
    .div2i{
        margin-bottom: 55px;
        /* text-align: center; */
    }
    
    .div2ii h1{
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 15px;
    }   
    nav ul a{
        display: none;
    }
    .div2i h1{
        font-size: 30px;
    }
    
    nav button {
        display: none;
    }
    nav ul{
        display: none;
    }
    
    .navigation{
        display: block;
    }
    footer button{
        margin-left: 50px;
        padding: 5px 15px;
    }

    footer{
        padding: 25px 45px;
    }
    
    .maindiv3ii{
        grid-template-columns: repeat(2, 1fr);
    }

    .maindiv3ii img{
        width: 100%;
    }

    .maindiv3i h1{
        font-size:30px;
    }

}
    
    @media screen and (max-width: 576px) {

        .maindiv1 button{
            padding: 8px 20px;  
            border-radius:30px ;
            font-size: 10px;     
           }

        .maindiv1 div{
        width: 45%;
        padding: 20px 10px;
        gap: 20px;
        }

        .div2ii p{
            font-weight: 400;
            font-size: 13px;
            margin-bottom: 15px;
        }

        .maindiv1 h1{
            font-size: 20px;
        }

        .maindiv1 .div1p{
            font-size: 14px;
        }

        footer button{
            margin-left: 20px;
            padding: 8px 20px; 
            margin-top: 40px;
        }
        footer{
            flex-direction: column;
        }

        .footer1i, .footer1ii{
            margin-bottom: 40px;
        }

        
}

@media screen and (max-width: 375px){

    .maindiv1{
        flex-direction: column-reverse;
        text-align: center;
    }

    nav{
        padding: 15px 15px;
    }


    .maindiv2{
        text-align: center;
    }

    .maindiv1 h1{
        font-size:25px;
     }

     .div2i h1{
        font-size: 25px;
     }
    
     .div2ii p{
        font-weight: 400;
        font-size: 13px;
        margin-bottom: 15px;
    } 
    
    .maindiv3ii{
        grid-template-columns: repeat(1, 1fr);
    }

    .maindiv3i h1{
        font-size: 25px;
    }


    .maindiv1 div{
        width: 100%;
    }

    .div2ii{
        grid-template-columns: repeat(1, 1fr);
    }

    footer{
        text-align: center;
    }

    
}
